<% include ../partials/header%>


      <div class="jumbotron">
          <div class="container">
            <h1 class="display-3"><i class="fas fa-assistive-listening-systems"> Hey There!</i> </h1>
            <h3>A Place for the people of the earth to share their ideas and thoughts!</h3>
            <a href="#new" role="button" data-toggle="collapse" class="btn aqua-gradient" aria-expanded="false" aria-controls="new"> <span class="spinner-grow spinner-grow-sm"></span>  New Thought!</a>
            <!-- collapse create content form starts here -->
            <div class="collapse" id="new">
                <div class="card card-body bg-gradient-light" style="border-left: 5px solid #12cab2; margin-top:15px;">
                  <% if(!currentUser) { %>
                    <!--If the user is not logged in, direct him to the login page-->
                    <h5>You need to login before you share your thought. <a href="/login">Click here</a> to go to the login page.</h5>
                  <% } %>
                  <% if (currentUser) { %>
                    <h4><strong>Write Your Mind Out!</strong></h4>
                    <form id="add-comment-form" action="/home" method="POST">
                      <div class="form-group">
                        <input class="form-control" type="text" disabled value="<%= currentUser.username%>">
                      </div>
                      <div class="form-group">
                        <input class=" emoji form-control" name="content[name]" placeholder="Title" form="add-comment-form" rows="5" cols="70">
                      </div>
                      <div class="form-group">
                        <textarea class=" emoji form-control " name="content[body]" placeholder="Engrave your thoughts here.." form="add-comment-form" rows="5" cols="70"></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn aqua-gradient btn-sm"><i class="fab fa-telegram-plane"></i> Post</button>
                      </div>
                    </form>
                    <% }%>
                </div>
              </div>
              <!-- collpase ends here -->
          </div>
        </div> 
        <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="card bg-light mb-4" >
                  <div class="card-body ">
                    <div class="card ">
                        <% contents.forEach(function(content){%>
                          <div class="list-group ">
                            <a class="list-group-item list-group-item-action border-primary" href="/home/<%= content._id%>">
                              <div class="card-body ">
                                  <h5 class="card-title"><strong><i class="fas fa-fingerprint"></i> <%=content.name%></h5></strong>
                                  <h6 class="card-text"><%-content.body.substring(0,50)%>...</h6>
                                </div>
                            </a>
                        </div>  
    
                        <% }); %>
                    </div>
                  </div>
                </div>
              </div>

          <div class="col-md-3">
              <div class="card card-cascade mb-4"  >
                  <% if(!currentUser) { %>
                    <div class="view view-cascade overlay">
                    <img src="/assets/images/vimeo.jpg" class="card-img-top" alt="...">
                  </div>

                    <div class="card-body">
                  <!--If the user is not logged in, direct him to the login page-->
                        <h5>You need to login to see your profile here. <a href="/login">Click here</a> to go to the login page.</h5>
                      </div>
                      <% } %>
                      <% if (currentUser) {%>
                        <img src="<%= user.avatar %>" class="card-img-top" alt="/assets/images/vimeo.jpg">
                        <div class="card-body">
                          <h5 class="card-title"><i class="fas fa-user-circle"></i> <%= user.username %></h5>
                          <p class="card-text"><%= user.firstName %> <%= user.lastName %></p>
                          <hr>
                          <p class="card-text">
                            <%if (!user.about) {%>
                            Hi There! I just started using Banco! to share my thoughts!!!!
                            <%}%>
                            <%= user.about%>
                          </p>
                          <a class="btn btn-warning btn-sm" href="/user/<%=user._id%>/edit"><i class="fas fa-user-edit"></i></a>
                          <hr>
                          <strong class="card-title">Posts</strong>
                          <div class="list-group">

                            <% userContents.forEach(function(content) {%>
                              <a href="/home/<%= content.id %>" class="list-group-item list-group-item-action">
                              <h5> <i class="far fa-paper-plane"></i> <%= content.name %></h5>
                              </a>
                            <% }); %>

                          </div> 
                        </div>
                      <% } %>  
                  
                </div>
          </div>

        </div>
      </div>

<% include ../partials/footer%>

